<%= render 'components/header', header_text: 'Home' %>

<p>
  Nothing to see here... <%= link_to 'Widgets', widgets_path, class: 'font-medium text-blue-600 dark:text-blue-500 hover:underline' %>
</p>
