!.vscode/extensions.json
!/server/log/.keep
!/server/storage/.keep
!/server/tmp/.keep
!/server/tmp/pids/
!/server/tmp/pids/.keep
!/server/tmp/storage/
!/server/tmp/storage/.keep
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
/server/.bundle
/server/app/assets/builds
/server/config/master.key
/server/log/*
/server/public/assets
/server/storage/*
/server/tmp/*
/server/tmp/pids/*
/server/tmp/storage/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
