<div id="<%= dom_id widget %>">
  <p>
    <strong>Name:</strong>
    <%= widget.name %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= widget.sku %>
  </p>

  <p>
    <strong>Inventory count:</strong>
    <%= widget.inventory_count %>
  </p>

</div>
